<?xml version="1.0" encoding="utf-8" ?>
<log4net debug="true" xsi:noNamespaceSchemaLocation="http://csharptest.net/downloads/schema/log4net.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <root>
    <!-- 该节点用于确认发送日志的级别, ALL表示所有级别都发送, 具体可参考log4net的文档 -->
    <level value="ALL"/>
    <appender-ref ref="localAppender" />
    <appender-ref ref="comboAppender"/>
  </root>
  
  <appender name="comboAppender" type="Metis.ClientSdk.LogProvider.ComboAppender, Metis.ClientSdk.LogProvider">
    <!--<param name="LocalSender" value="Metis.ClientSdk.Sender.LocalFileSender, Metis.ClientSdk.Sender" />-->
    <param name="RemoteSender" value="Metis.ClientSdk.Sender.TimerHttpSender, Metis.ClientSdk.Sender" />
    <param name="RemoteUrl" value="http://test.metis.huayu.nd:8881/" />
    <param name="RemoteHost" value="test.metis.huayu.nd:8881" />
    <!-- 请配置为业务系统站点中可以写入文件的路径, 一般Web服务器都有一个目录用来写日志的 -->
    <!--<param name="LocalUrl" value="E:\CodeInGit\metis_sdk\Sdks\DotNet\Metis.TestSite\App_Data" />-->
    <!--<param name="LogPrefix" value="Log_" />-->
    <param name="MaxQueueSize" type="int" value="5000" />
    <param name="SendInterval" type="int" value="5" />
    <!-- 一个实现 Metis.ClientSdk.IGathererDataPrivoder 接口的类,主要是提供Accesstoken -->
    <param name="ExtendDataProvider" value="Metis.DemoSite.Privoder.ApiCallGathererPrivoder, Metis.DemoSite" />
  
    <!-- 定义可以接受的日志级别 -->
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="WARN"/>
      <levelMax value="FATAL"/>
    </filter>
  </appender>

  <appender name="localAppender" type="log4net.Appender.RollingFileAppender">
    <file value="logfile" />
    <appendToFile value="true"/>
    <rollingStyle value="Date"/>
    <staticLogFileName value="false"/>
    <maxSizeRollBackups value="30"/>
    <datePattern value="yyyyMMdd"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="[%p %t] [%date{yyyy-MM-dd HH:mm:ss,fff}] %-5logger - %m%n"/>
    </layout>
  </appender>
</log4net>