<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr" version="3.4.1.9004" targetFramework="net40" />
  <package id="Autofac" version="2.6.3.862" targetFramework="net40" />
  <package id="Autofac.Mvc3" version="2.6.3.862" targetFramework="net40" />
  <package id="Castle.Core" version="3.2.0" targetFramework="net40" />
  <package id="log4net" version="2.0.0" targetFramework="net40" />
  <package id="Nd.Platform" version="1.0.126" targetFramework="net40" />
  <package id="Nd.Resource" version="0.7" targetFramework="net40" />
  <package id="Nd.Tool" version="1.2.4-bate5" targetFramework="net40" />
  <package id="Nd.Tool.Log4netProvider" version="1.2.0-bate1" targetFramework="net40" />
  <package id="Nd.Web.Mvc" version="1.2.1" targetFramework="net40" />
</packages>