<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Gatherer.ApiUrl" value="http://192.168.205.3:8088/log"/>
    <add key="Gatherer.ApiHost" value="192.168.205.3:8088" />
    <add key="Gatherer.Async" value="false"/>
    <add key="Gatherer.AppAccesstoken" value="515d5d01c0dc42abad866a29765077b2"/>
  </appSettings>
</configuration>