<?xml version="1.0" encoding="utf-8"?>
<log4net xsi:noNamespaceSchemaLocation="http://csharptest.net/downloads/schema/log4net.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <root>
    <level value="ALL"/>
    <appender-ref ref="comboAppender"/>
  </root>
  
  <appender name="comboAppender" type="Metis.ClientSdk.LogProvider.ComboAppender">
    <param name="LocalSender" value="Metis.ClientSdk.Sender.LocalFileSender, Metis.ClientSdk.Sender" />
    <param name="RemoteSender" value="Metis.ClientSdk.Sender.TimerHttpSender, Metis.ClientSdk.Sender" />
    <param name="RemoterUrl" value="http://192.168.72.171:8081/test" />
    <param name="RemoteHost" value="192.168.72.171:8081" />
    <param name="LocalUrl" value="~/App_Data" />
    <param name="MaxQueueSize" type="int" value="2000" />
    <param name="SendInterval" type="int" value="10" />
  </appender>
</log4net>